/* 
    Document   : syntax
    Author     : Michael Kühweg
    Description:
        Styles für Syntaxbeschreibungen.
*/

body {font-family: Helvetica, sans-serif; background-color: white;}
code {font-size: larger;}
kbd {font-weight: bold; font-size: larger;}
h4 {text-align: center; border: none; border-bottom: 1px solid #067db7;}
.stretch {float: left; padding: 2em; border: none;}
.abstract {float: left;}
.abstract ul {list-style-type: circle; line-height: 125%;}
.abstract a {color: #067db7; text-decoration: none;}
.abstract a:hover {background-color: #f8f8f8;}
.toc {float: left;}
.toc ul {list-style-type: circle; line-height: 125%;}
.toc a {color: #067db7; text-decoration: none;}
.toc a:hover {background-color: #f8f8f8;}
.ebnf { clear: both; padding: 1em 2em; text-indent: -1em; border-top: 1px solid #067db7;}
.ebnf a {color: #067db7; text-decoration: none;}
.ebnf a:hover {background-color: #f8f8f8;}
.nav { margin-bottom: 1em; text-align: center;}
.nav a {color: #067db7; text-decoration: none;}
.nav a:hover {background-color: transparent;}
.homeIcon {width: 48px;}
.diagram { margin: 2em;}
.diagram img { padding:2em;}
