/* 
    Document   : itrysql.css
    Description:
        Styles für iTry SQL.
*/

.root {
    -scroll-bar-background: #aaaaaa;
    display: block;
}

.itry-statement-edit {
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

.itry-db-output {
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

.itry-tool-bar-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-padding: 0;
    -fx-text-fill: rgba(52, 101, 164, 1.0);
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
    -fx-font-family: 'iTryIcons';
    -fx-font-weight: normal;
    -fx-font-size: 36;
}

.itry-tool-bar-button:armed, .itry-tool-bar-button:hover, .itry-tool-bar-button:pressed {
    -fx-text-fill: #0096c9;
}

.tooltip {
    -fx-font-family: 'System';
    -fx-font-size: 12;
}

#permanentMessage {
    -fx-text-fill: red;
    -fx-padding: 4px;
    -fx-background-color: transparent;
}

.scroll-bar .track {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar .track-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: -scroll-bar-background;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}

#schemaTreeView .tree-cell .label {
    -fx-font-family: 'iTryIcons';
    -fx-font-size: 20;
    -fx-padding: 0;
}

#schemaTreeView .schema-tree-database {
    -fx-text-fill: #067db7;
}

#schemaTreeView .schema-tree-user {
    -fx-text-fill: #067db7;
}

#schemaTreeView .schema-tree-table {
    -fx-text-fill: #067db7;
}

#schemaTreeView .schema-tree-column {
    -fx-text-fill: #067db7;
}

#schemaTreeView .schema-tree-primary-key {
    -fx-text-fill: #8500AF;
}

#schemaTreeView .schema-tree-foreign-key-constraint {
    -fx-text-fill: #007c7c;
}

#schemaTreeView .schema-tree-references {
    -fx-text-fill: #007c7c;
}

#schemaTreeView .schema-tree-index {
    -fx-text-fill: #C97100;
}

.itry-search-bar {
	-fx-background-color: #f8f8f8;
}

.search-field {
	-fx-background-radius: 14;
}