/* 
    Document   : itrysql.css
    Description:
        Styles für iTry SQL.
*/

.root {
    -dark-warm-gray: rgb(207, 202, 196);
    -warm-gray: rgb(227, 222, 216);
    -mid-gray: rgb(216, 222, 227);
    -fx-base: -mid-gray;
    -fx-focus-color: #067db7;
    -fx-accent: #067db7;
    -scroll-bar-background: #d0d0d0;
    display: block;
}

.itry-statement-edit {
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

.itry-db-output {
    -fx-font-family: 'Bitstream Vera Sans Mono';
}

.itry-dialog {
    -fx-background-color: 
        linear-gradient(to bottom, derive(-warm-gray,0%), derive(-warm-gray,100%));
}

.itry-tool-bar {
    -fx-background-color: #f0f0f0;
}

.itry-tool-bar-button {
    -fx-background-color: transparent;
    -fx-background-insets: 0;
    -fx-background-radius: 16;
    -fx-padding: 0;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

#toolbarExecute {
    -fx-graphic: url('../images/execute.png');
}
#toolbarExecute:armed, #toolbarExecute:hover, #toolbarExecute:pressed {
    -fx-graphic: url('../images/execute_active.png');
}

#toolbarCommit {
    -fx-graphic: url('../images/commit.png');
}
#toolbarCommit:armed, #toolbarCommit:hover, #toolbarCommit:pressed {
    -fx-graphic: url('../images/commit_active.png');
}

#toolbarCheckpoint {
    -fx-graphic: url('../images/checkpoint.png');
}
#toolbarCheckpoint:armed, #toolbarCheckpoint:hover, #toolbarCheckpoint:pressed {
    -fx-graphic: url('../images/checkpoint_active.png');
}

#toolbarRollback {
    -fx-graphic: url('../images/rollback.png');
}
#toolbarRollback:armed, #toolbarRollback:hover, #toolbarRollback:pressed {
    -fx-graphic: url('../images/rollback_active.png');
}

#toolbarZoomIn {
    -fx-graphic: url('../images/zoomin.png');
}
#toolbarZoomIn:armed, #toolbarZoomIn:hover, #toolbarZoomIn:pressed {
    -fx-graphic: url('../images/zoomin_active.png');
}

#toolbarZoomOut {
    -fx-graphic: url('../images/zoomout.png');
}
#toolbarZoomOut:armed, #toolbarZoomOut:hover, #toolbarZoomOut:pressed {
    -fx-graphic: url('../images/zoomout_active.png');
}

#toolbarTutorialData {
    -fx-graphic: url('../images/tutorialdata.png');
}
#toolbarTutorialData:armed, #toolbarTutorialData:hover, #toolbarTutorialData:pressed {
    -fx-graphic: url('../images/tutorialdata_active.png');
}

#toolbarTabTableViewExport {
    -fx-graphic: url('../images/export.png');
}
#toolbarTabTableViewExport:armed, #toolbarTabTableViewExport:hover, #toolbarTabTableViewExport:pressed {
    -fx-graphic: url('../images/export_active.png');
}

#toolbarTabDbOutputExport {
    -fx-graphic: url('../images/export.png');
}
#toolbarTabDbOutputExport:armed, #toolbarTabDbOutputExport:hover, #toolbarTabDbOutputExport:pressed {
    -fx-graphic: url('../images/export_active.png');
}

#toolbarTabDbOutputClear {
    -fx-graphic: url('../images/clear.png');
}
#toolbarTabDbOutputClear:armed, #toolbarTabDbOutputClear:hover, #toolbarTabDbOutputClear:pressed {
    -fx-graphic: url('../images/clear_active.png');
}

#permanentMessage {
    -fx-text-fill: black;
    -fx-padding: 4px 20px 4px 20px;
    -fx-background-color: #ffa210;
    -fx-opacity: 0.5;
    -fx-border-radius: 5px;
    -fx-background-radius: 5px;
}

.tab-pane .tab-header-area .tab-header-background {
    -fx-background-color: #f0f0f0;
}

.menu-bar {
    -fx-border-color: -dark-warm-gray;
    -fx-border-width: 0 0 1 0;
    -fx-background-color:
        linear-gradient(to top, derive(-warm-gray,60%), derive(-warm-gray,80%));
    -fx-effect: dropshadow( three-pass-box , rgba(0,0,0,1) , 8, 0.0 , 0 , 0 );
}

.menu {
    -fx-background-color: transparent;
}

.menu .label {
    -fx-text-fill: -fx-mid-text-color;
    -fx-stroke: -fx-text-fill;
}

.scroll-bar .track {
    -fx-background-color: white;
    -fx-border-color: white;
    -fx-background-radius: 0em;
    -fx-border-radius: 2em;
}

.scroll-bar .track-background {
    -fx-background-color: white;
    -fx-background-insets: 0;
}

.scroll-bar:horizontal .increment-button ,
.scroll-bar:horizontal .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 0 10 0;
}

.scroll-bar:vertical .increment-button ,
.scroll-bar:vertical .decrement-button {
    -fx-background-color: transparent;
    -fx-background-radius: 0em;
    -fx-padding: 0 10 0 0;
}

.scroll-bar .increment-arrow,
.scroll-bar .decrement-arrow {
    -fx-shape: " ";
    -fx-padding: 0;
}

.scroll-bar .thumb {
    -fx-background-color: -scroll-bar-background;
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}

.scroll-bar:disabled {
    -fx-opacity: 0.4;
}
